{% extends "layouts.html" %}
{% block title %}
hello
{% endblock %}

{% block content %}
    <body>
        hello
        <br>
        <p>Welcome to Tweeter</p>
        <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'tweet_create' %}" class="btn btn-primary">Create a tweet</a>
        <div class="container row gap-3">
            {% for tweet in tweets %}
            <div class="card" style="width: 18rem;">
                <img src="{{ tweet.photo.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.user.username }}</h5>
                    <p class="card-text">{{ tweet.text }}</p>
                    <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">edit</a>
                    <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
{% endblock %}
